<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--Navigation section start-->
<div class="bloom">
    <div class="bloom-left">
        <a href="#"><h1>Boom</h1></a>
    </div>
    <div class="bloom-right">
        <a href=""><button>Home</button></a>
        <a href=""><button>About Us</button></a>
        <a href=""><button>Services</button></a>
        <a href=""><button>Portfolio</button></a>
        <a href=""><button>Contact Us</button></a>
    </div>
</div>
<!--Navigation section end-->

<!--Second section start-->
<div class="second-section">
    <div class="second-section-left">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ea eius eos fuga nisi, odit provident sit voluptas? Aperiam assumenda dolore dolores illo, in iure nulla provident quaerat
            quis vel. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ea eius eos fuga nisi, odit provident sit voluptas? Aperiam assumenda dolore dolores illo, in iure nulla provident quaerat
            quis vel.</p>
        <button>Learn More</button>
    </div>
    <div class="second-section-right">
        <img src="../static/images/hamburger-494706_640.jpg" alt="">
    </div>
</div>
<!--Second section end-->

<!--Third section start-->
<div class="third-section">
    <div>
        <h3>This is a heading</h3>
    </div>
    <div class="inner-third-section">
        <div class="inner-third-section-card">
            <img src="../static/images/hamburger-494706_640.jpg" alt="">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate esse laudantium molestiae molestias omnis pariatur quae quas ut. Neque,
                quisquam.</p>
            <button>Learn More</button>
        </div>
        <div class="inner-third-section-card">
            <img src="../static/images/hamburger-494706_640.jpg" alt="">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate esse laudantium molestiae molestias omnis pariatur quae quas ut. Neque,
                quisquam.</p>
            <button>Learn More</button>
        </div>
        <div class="inner-third-section-card">
            <img src="../static/images/hamburger-494706_640.jpg" alt="">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate esse laudantium molestiae molestias omnis pariatur quae quas ut. Neque,
                quisquam.</p>
            <button>Learn More</button>
        </div>
    </div>
</div>
<!--Third section end-->

<!--Footer section start-->
<div class="footer">
    <div class="footer-one">
        <div class="footer-one-card-one">
            <h5>Latest posts</h5>
            <div class="post">
                <div class="post-left">
                    <img src="../static/images/hamburger-494706_640.jpg" alt="">
                </div>
                <div class="post-right">
                    <h6>Lorem ipsum dolor.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>
            <div class="post">
                <div class="post-left">
                    <img src="../static/images/hamburger-494706_640.jpg" alt="">
                </div>
                <div class="post-right">
                    <h6>Lorem ipsum dolor.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>
            <div class="post">
                <div class="post-left">
                    <img src="../static/images/hamburger-494706_640.jpg" alt="">
                </div>
                <div class="post-right">
                    <h6>Lorem ipsum dolor.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>
            <div class="post">
                <div class="post-left">
                    <img src="../static/images/hamburger-494706_640.jpg" alt="">
                </div>
                <div class="post-right">
                    <h6>Lorem ipsum dolor.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>
            <div class="post">
                <div class="post-left">
                    <img src="../static/images/hamburger-494706_640.jpg" alt="">
                </div>
                <div class="post-right">
                    <h6>Lorem ipsum dolor.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
            </div>
        </div>
        <div class="footer-one-card-two">
            <h5>About</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae consequatur eaque earum et ex exercitationem impedit in incidunt ipsa libero, magni necessitatibus officiis omnis optio quam quas v
                eritatis vitae?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci amet asperiores, blanditiis consectetur, deleniti et eum facere illum iusto molestiae optio rem tempore, voluptatem voluptatum. Delectus mo
                llitia nostrum sed!</p>
        </div>
        <div class="footer-one-card-three">
            <h5>Stay Connected</h5>
            <div class="social-media">
                <img src="../static/images/hamburger-494706_640.jpg" alt="">
                <p>Facebook</p>
            </div>
            <div class="social-media">
                <img src="../static/images/hamburger-494706_640.jpg" alt="">
                <p>Twitter</p>
            </div>
            <div class="social-media">
                <img src="../static/images/hamburger-494706_640.jpg" alt="">
                <p>RSS</p>
            </div>
            <div class="social-media">
                <img src="../static/images/hamburger-494706_640.jpg" alt="">
                <p>Google+</p>
            </div>
        </div>
    </div>
    <div class="footer-two">
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing.</h5>
    </div>
</div>
<!--Footer section end-->
</body>
</html>